*.swp
.DEV_TEMP
.DS_Store
doc/*
.chef
.berkshelf
.vagrant
cookbooks/ad-nativex
cookbooks/apache2-nativex
cookbooks/autofs-nativex
cookbooks/autopatch-nativex
cookbooks/blockdevice-nativex
cookbooks/cifs-nativex
cookbooks/dnsupdate-nativex
cookbooks/dse-nativex
cookbooks/ephemeral_lvm-nativex
cookbooks/glusterfs-nativex
cookbooks/hostname-nativex
cookbooks/iis-nativex
cookbooks/iptables-nativex
cookbooks/ipynb-nativex
cookbooks/mkdirs-nativex
cookbooks/nfs-nativex
cookbooks/numad-nativex
cookbooks/ohai-nativex
cookbooks/pbis-nativex
cookbooks/privoxy-nativex
cookbooks/python-nativex
cookbooks/r-nativex
cookbooks/snowflake-nativex
cookbooks/spacewalk-nativex
cookbooks/syncdata-nativex
cookbooks/tuned-nativex
cookbooks/yum-nativex
