<?xml version='1.0'?>
<checkstyle>
  <file name='/home/wolfe21/cookbooks/snmp/spec/spec_helper.rb'/>
  <file name='/home/wolfe21/cookbooks/snmp/spec/default_spec.rb'>
    <error line='6' column='79' severity='info' message='Line is too long. [87/79]' source='LineLength'/>
    <error line='25' column='79' severity='info' message='Line is too long. [89/79]' source='LineLength'/>
    <error line='44' column='79' severity='info' message='Line is too long. [87/79]' source='LineLength'/>
  </file>
  <file name='/home/wolfe21/cookbooks/snmp/metadata.rb'/>
  <file name='/home/wolfe21/cookbooks/snmp/attributes/snmptrapd.rb'/>
  <file name='/home/wolfe21/cookbooks/snmp/attributes/extendbind.rb'/>
  <file name='/home/wolfe21/cookbooks/snmp/attributes/default.rb'>
    <error line='21' column='2' severity='info' message='Indent when as deep as case.' source='CaseIndentation'/>
    <error line='21' column='7' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='22' column='34' severity='info' message='Use %w or %W for array of words.' source='WordArray'/>
    <error line='22' column='35' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='22' column='47' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='23' column='2' severity='info' message='Indent when as deep as case.' source='CaseIndentation'/>
    <error line='23' column='7' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='24' column='34' severity='info' message='Use %w or %W for array of words.' source='WordArray'/>
    <error line='24' column='35' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='24' column='43' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='25' column='2' severity='info' message='Indent when as deep as case.' source='CaseIndentation'/>
    <error line='25' column='7' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='26' column='35' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='28' column='34' severity='info' message='Use %w or %W for array of words.' source='WordArray'/>
    <error line='28' column='35' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='28' column='47' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='33' column='29' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='35' column='31' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='36' column='40' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='37' column='41' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='38' column='32' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='40' column='35' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='41' column='31' severity='info' message='Use array literal [] instead of Array.new.' source='EmptyLiteral'/>
    <error line='43' column='48' severity='info' message='Use array literal [] instead of Array.new.' source='EmptyLiteral'/>
    <error line='44' column='51' severity='info' message='Use array literal [] instead of Array.new.' source='EmptyLiteral'/>
    <error line='46' column='43' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='47' column='47' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='48' column='62' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='49' column='54' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='50' column='47' severity='info' message='Use array literal [] instead of Array.new.' source='EmptyLiteral'/>
    <error line='53' column='27' severity='info' message='Use array literal [] instead of Array.new.' source='EmptyLiteral'/>
    <error line='56' column='38' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='58' column='40' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='59' column='41' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='59' column='79' severity='info' message='Line is too long. [108/79]' source='LineLength'/>
    <error line='60' column='40' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='61' column='41' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='62' column='43' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
  </file>
  <file name='/home/wolfe21/cookbooks/snmp/recipes/snmptrapd.rb'>
    <error line='3' column='20' severity='info' message='Trailing whitespace detected.' source='TrailingWhitespace'/>
    <error line='22' column='15' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='25' column='10' severity='info' message='Space inside square brackets detected.' source='SpaceInsideBrackets'/>
    <error line='25' column='26' severity='info' message='Space inside square brackets detected.' source='SpaceInsideBrackets'/>
    <error line='28' column='9' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='30' column='8' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='31' column='8' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
  </file>
  <file name='/home/wolfe21/cookbooks/snmp/recipes/extendbind.rb'>
    <error line='3' column='21' severity='info' message='Trailing whitespace detected.' source='TrailingWhitespace'/>
    <error line='23' column='17' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='30' column='16' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='32' column='10' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='33' column='10' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='38' column='15' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
  </file>
  <file name='/home/wolfe21/cookbooks/snmp/recipes/default.rb'>
    <error line='25' column='2' severity='info' message='Indent when as deep as case.' source='CaseIndentation'/>
    <error line='25' column='7' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='26' column='13' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='28' column='12' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='29' column='12' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='34' column='10' severity='info' message='Space inside square brackets detected.' source='SpaceInsideBrackets'/>
    <error line='34' column='26' severity='info' message='Space inside square brackets detected.' source='SpaceInsideBrackets'/>
    <error line='37' column='9' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='39' column='8' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
    <error line='40' column='8' severity='info' message='Prefer single-quoted strings when you don&apos;t need string interpolation or special symbols.' source='StringLiterals'/>
  </file>
</checkstyle>